<style>
  #index-banner {
    background-image: url("images/LatestImage/IMG_0196.jpg");
    background-position: right;
  }

  .white-text {
    color: white !important;
  }
</style>
<div id="index-banner" class="parallax-container bg-image">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Royal Motors</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Quality Serive @ Affordable Pricing</h5>
        </div>
        <div class="row center">
          <a href="/services" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Services Offered</a>
        </div>
           <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Royal Enfield Spares Section</a>
        </div>
        <br><br>

      </div>
    </div>
  </div>