<footer class="page-footer"  style="background: teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Royal Motors</h5>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/services">Services</a></li>
                    <li><a class="grey-text text-lighten-3" href="/contact">Contact US</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Site Developed by Royal Motors
        </div>
    </div>
</footer>
<style>
    .page-footer {
        width: 100%;
    }
</style>