 <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <a href="./" class="brand-logo">Royal Motors</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="contact">Contact US</a></li>
        <li><a href="services">Services</a></li>
      </ul>
    </div>
  </nav>

  <style>
    .brand-logo {
      padding-left: 15px !important;
    }
  </style>