{{> navigation}}
<style>
    .check {
        vertical-align: bottom;
        line-height: 1.5rem;
        color: #26a69a;
    }

    .bg {
        background-color: aliceblue;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    img {
        width: 60%;
    }
</style>
<div class="row bg flex">
    <div class="col s12">
        <h2 class="form-header">
            We are distrubting Royal Enfield Spares
        </h2>
    </div>
    <div class="col s12">
        <img src="images/new/IMG_0206-min.JPG">
    </div>
</div>
{{> footer}}