{{> navigation}}
<style>
    .bk-confirm {
        padding: 150px 50px;
    }
</style>
    <h2 class="align-center bk-confirm">Thanks for booking. Our People will get back to you</h2>
{{> footer}}